<div>
    <mat-toolbar color="primary">
        <span>MCG Acronyms & Terms</span>
	</mat-toolbar>
	<mat-tab-group>
		<mat-tab label="Acronyms">
            <div *ngIf="acronyms.length" class="input-wrapper">
                <mat-form-field class="form-wrapper" id="acro-search">
                    <input [(ngModel)]="term" matInput placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="!acronyms.length" class="center">
                <div class="inner">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            <div #elseBlock>
                <acronyms-list [acronyms]="acronyms | filter:term"></acronyms-list>
            </div>
		</mat-tab>
		<mat-tab label="Add New">
			<add-new-acronym (newPosted)="onNewPost($event)"></add-new-acronym>
		</mat-tab>
	</mat-tab-group>
    
</div>


<router-outlet></router-outlet>
