<div >
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <div>
            <div *ngFor="let acronym of acronyms">
                <p>{{ acronym.abrev }} </p>
                <p><span class="font-weight-bold">Definition:</span> {{ acronym.def }}</p>
                <p><span class="font-weight-bold">Notes:</span> {{ acronym.notes }}</p>
                <!-- <mdb-card class="m-2">
                    <mdb-card-body>
                        <mdb-card-title>
                            <h5>{{ acronym.abrev }}</h5>
                        </mdb-card-title>
            
                        <mdb-card-text>
                                <p><span class="font-weight-bold">Definition:</span> {{ acronym.def }}</p>
                                <p><span class="font-weight-bold">Notes:</span> {{ acronym.notes }}</p>
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card> -->
            </div>
        </div>
        <div class="col-sm">
            <!-- <mdb-card class="m-2">
                <mdb-card-body>
                    <mdb-card-title>
                        <h5>Add a New Acronym or Term</h5>
                    </mdb-card-title>
                </mdb-card-body>
            </mdb-card> -->
        </div>
    </div>
</div>


<router-outlet></router-outlet>
