<div>
    <mat-toolbar>
        <span>MCG Acronyms</span>
    </mat-toolbar>
    <!-- <mat-grid-list cols="2" rowHeight="1:1"> -->
            <div *ngFor="let acronym of acronyms">
                    <!-- <mat-grid-tile> -->
                        <mat-card class="margin-cards">
                            <mat-card-header>
                                <mat-card-title>{{ acronym.abrev }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p><span class="font-weight-bold">Definition:</span> {{ acronym.def }}</p>
                                <p><span class="font-weight-bold">Notes:</span> {{ acronym.notes }}</p>
                            </mat-card-content>
                        </mat-card>
                    <!-- </mat-grid-tile> -->
                </div>
    <!-- </mat-grid-list> -->
</div>


<router-outlet></router-outlet>
