
<!-- <mat-grid-list cols="3" rowHeight="2:1">  -->
	<div *ngFor="let acronym of acronyms" class="margin-cards">
		<!-- <mat-grid-tile> -->
			<mat-card>
				<mat-card-header>
					<mat-card-title>{{ acronym.abrev }}</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p><span class="font-weight-bold">Definition:</span> {{ acronym.def }}</p>
					<p><span class="font-weight-bold">Notes:</span> {{ acronym.notes }}</p>
				</mat-card-content>
			</mat-card>
		<!-- </mat-grid-tile> -->
	</div>
<!-- </mat-grid-list> -->
