<div>
    <div class="input-wrapper">
        <mat-form-field class="form-wrapper">
            <input matInput placeholder="Search" value="This doesn't work yet">
        </mat-form-field>
    </div>
	<div *ngIf="!acronyms.length" class="center">
		<div class="inner">
			<mat-spinner></mat-spinner>
		</div>
	</div>
	<div  #elseBlock>
		<mat-grid-list cols="3" rowHeight="2:1">
			<mat-grid-tile *ngFor="let acronym of acronyms">
				<mat-card>
					<mat-card-header>
						<mat-card-title>{{ acronym.abrev }}</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p><span class="strong">Definition:</span> {{ acronym.def }}</p>
						<p><span class="strong">Notes:</span> {{ acronym.notes }}</p>
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>

